.header-container {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #ddd;

  .upper-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: all 0.3s ease;

    &.with-shadow {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .logo {
      cursor: pointer;

      .logo-image {
        height: 50px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .phone-number {
      font-size: 18x;
      color: #333;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;

      svg {
        color: #007bff;
      }
    }

    .navigation {
      display: flex;
      gap: 20px;

      .nav-item {
        background: none;
        border: none;
        font-size: 18px; // Tăng kích thước chữ
        color: #555; // Màu xám đậm
        cursor: pointer;
        transition: color 0.3s ease, transform 0.2s ease;

        &:hover,
        &:active {
          color: #000; // Màu đen khi hover hoặc nhấn
          transform: scale(1.05);
        }
      }
    }

    .login-option {
      .btn-primary {
        background-color: #2071cd; // Màu xám đậm
        color: #ffffff; // Chữ màu xám
        font-size: 16px; // Tăng kích thước chữ
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover,
        &:active {
          background-color: #1a5da9; // Màu xám đậm hơn
          color: #ffffff; // Chữ màu đen khi hover hoặc nhấn
        }
      }
    }
  }
}
