.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

  .left-content {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 70%;
    padding: 20px;
    background-color: #fff;
    position: relative;

    .title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }

    .q-body {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      img {
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    }

    .q-content {
      text-align: center;

      .question {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      .hidden {
        display: none; /* Hoặc dùng visibility: hidden; nếu muốn giữ không gian của thành phần */
      }

      .q-image {
        width: 100%; // Chiều rộng cố định cho q-image
        height: 300px; // Chiều cao cố định (có thể điều chỉnh)
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px; // Bo góc cho div

        img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 8px;
          box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
        }
      }

      .answer {
        .a-child {
          text-align: left;
          padding-left: 40%;
        }
      }
    }

    .footer {
      display: flex;
      gap: 15px;
      justify-content: center;
      margin-top: 20px;
    }
  }

  .right-content {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .main-timer {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      text-align: center;
      border-bottom: 1 dashed;
    }
    .main-question {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      gap: 12px;
      .question-number {
        display: inline-flex;
        border-radius: 3px;
        border-color: #f7faff;
        border: 1px solid;
        font-weight: 600;
        margin-right: 4px;
        margin-bottom: 8px;
        width: 28px;
        height: 25px;
        font-size: 11px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: rgb(43, 133, 251);
        }
        &.selected {
          background-color: rgb(6, 71, 155);
        }
        &.clicked {
          color: rgb(43, 133, 251);
        }
      }
    }
  }
}
