.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

  .left-content {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 70%;
    padding: 20px;
    background-color: #fff;
    position: relative;

    .title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }

    .q-body {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      img {
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    }

    .q-content {
      text-align: center;

      .question {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      .hidden {
        display: none; /* Hoặc dùng visibility: hidden; nếu muốn giữ không gian của thành phần */
      }

      .q-image {
        width: 100%; // Chiều rộng cố định cho q-image
        height: 300px; // Chiều cao cố định (có thể điều chỉnh)
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px; // Bo góc cho div

        img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 8px;
          box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
        }
      }

      .answer {
        .a-child {
          text-align: left;
          padding-left: 40%;
        }
      }
    }

    .footer {
      display: flex;
      gap: 15px;
      justify-content: center;
      margin-top: 20px;
    }
  }

  .right-content {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .main-timer {
      display: flex;
      justify-content: center;
      gap: 10px;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 20px;
      text-align: center;
      border-bottom: 1 dashed;
    }
    .btn-finish {
      background-color: #008cba;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
    }

    .btn-finish:hover {
      background-color: #005f72;
      transform: scale(1.05);
    }

    .btn-finish:active {
      background-color: #003e4e;
      transform: scale(1);
    }

    .part-title {
      font-weight: 700;
      font-size: 18px;
      text-align: left;
      padding-left: 24px;
      margin-bottom: 10px;
    }
    .questions-container {
      display: flex; /* Kích hoạt flexbox */
      flex-wrap: wrap; /* Cho phép xuống hàng */
      gap: 12px; /* Khoảng cách giữa các câu hỏi */
    }

    .question-number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: calc((100% - 5 * 10px) / 6);
      height: 30px; /* Chiều cao của ô */
      border: 1px solid #f7faff;
      border-radius: 3px;
      font-weight: 600;
      cursor: pointer;
      text-align: center;
      border: 1px solid;
      margin-right: 4px;
      margin-bottom: 8px;
      font-size: 11px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.selected {
        background-color: rgb(8, 84, 184);
        color: white;
      }

      &.clicked {
        color: rgb(43, 133, 251);
      }
    }
  }
}
