.result-display {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #faf8f8;
  
  

  &__header {
    justify-content: space-between;
    align-items: center;
    text-align: left;

    h3 {
      font-size: 1.5rem;
    }
    button {
      margin: 1rem 0;
      background-color: rgb(158, 213, 240);
      border-radius: 0.5rem;
      font-size: 1rem;
      border: 1px solid;
    }
    button:hover {
      color: #fff;
      background-color: rgb(17, 66, 158);
      outline: none;
    }
  }

  &__content {
    margin-top: 20px;
    display: flex;
  }

  &__summary {
    flex: 1;
    border: 1px solid;
    align-items: center;
    justify-content: space-around;
    margin: 0 1.5rem;
    border-radius: 0.5rem;
    background-color: #f2f1f1;

    &__element{
      display: flex; /* Sử dụng flexbox */
      justify-content: space-between; /* Phân bổ khoảng trống đều giữa các phần tử con */
      margin: 1.5rem;
      span {
        font-size: 1.3rem;
      }
      strong {
        font-size: 1.3rem;
      }
    }
  }

  &__stats {
    display: flex;
    flex: 3;
    justify-content: space-around;
  }

  &__stat {
    flex: 3;
    background-color: #f2f1f1;
    border-radius: 0.5rem;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 1.5rem;
    .icon {
      font-size: 2rem;
    }
    span {
      font-size: 1.3rem;
    }
    strong {
      font-size: 1.5rem;
    }
    &.correct {
      color: green;
    }

    &.incorrect {
      color: red;

    }

    &.skipped {
      color: gray;
    }
  }

  .answer-list {
    padding: 20px;
    
    h3 {
      font-weight: bold;
      text-align: left;
    }
  
    .part-section {
      margin-bottom: 20px;
    }
  
    .part-title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
      text-align: left;
    }
  
    .answer-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); // Tạo 3 cột
      gap: 10px; // Khoảng cách giữa các cột
    }
  
    .answer-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      font-size: 1.5rem;
  
      .question-number {
        background-color: #e0f0ff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #333;
        margin-right: 10px;
        padding: 1.5rem;
      }
  
      .answer-choice {
        // font-weight: bold;
        color: #565353;
        margin-right: 5px;
      }
  
      .correct-answer {
        font-weight: bold;
        margin-right: 5px;
  
        &.correct {
          color: green;
        }
  
        &.incorrect {
          color: red;
        }
      }
    }
  
    // Đoạn SCSS để xử lý các icon đúng sai
    .correct-icon {
      color: green;
      font-size: 1.2rem;
      margin-left: 5px;
    }
  
    .incorrect-icon {
      color: red;
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
  
  
}
