@media (min-width: 605px) {
  .col-sm-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 1024px) {
  .col-md-4 {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }
}

.col-md-12 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.ml-1 {
  margin-left: .5rem;
}

.col-sm-6, .col-md-4, .col-md-12 {
  position: relative;
  width: 100%;
  padding: .75rem;

  .courses-grid-item {
    cursor: pointer;
    min-height: 300px; /* Tăng chiều cao tối thiểu */
    background-color: white;
    border-radius: .80rem;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(143, 156, 173, .2); /* Thêm bóng đổ mờ */
    display: flex;
    flex-direction: column; /* Đảm bảo các phần tử con xếp dọc */
  }

  .courses-grid-item-image {
    height: 145px;
    padding: 5px;
    display: flex; /* Đảm bảo ảnh không bị méo */
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .courses-grid-item-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px;
  }

  .courses-grid-item-title {
    font-weight: bold;
    font-size: 1.6rem;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box; /* Đảm bảo padding không làm rộng phần tử */
    overflow: hidden; /* Tránh tràn nếu nội dung quá dài */
  }

  .courses-grid-item-title span {
    font-weight: normal;
  }

  .courses-grid-item-description {
    width: 100%;
    text-align: left;
    padding: 0 20px;
    font-size: 1rem;
    color: #555;
  }

  .courses-grid-item-content {
    padding: 0 1rem;
    position: relative;
    width: 100%;
    text-align: left;
    flex-grow: 1;
  }

  .course-tags {
    margin-top: .5rem;
  }

  .tag:not(.plain) {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #d5e8fb;
    color: #284cb0;
    margin-right: .5rem; 
  }

  .courses-grid-item-pricing {
    padding: .5rem 1rem;
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    color: #3cb46e;
    font-weight: bold;
  }
}
