.container {
    //margin-top: 20px;
}

.position-relative {
    position: relative;

    .question-img-preview {
        align-items: center;
        height: 100px !important;
        width: 100px !important;
        justify-content: center;
        display: flex;

        img {
            width: auto;
            max-height: 90%;
        }
    }

    .remove-icon {
        position: absolute;
        top: -5px;
        left: 90px;
        font-size: 20px !important;
    }

}

.remove-icon {
    color: red;
    background-color: white;
    border: 1px solid rgb(204, 199, 199);
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    padding: 2px;

    &:hover {
        color: white;
        background-color: red;
        transition: .5s ease;
    }
}

.remove-question-icon {
    top: -10px;
    right: -10px;
}

.remove-answer-icon {
    top: -10px;
    right: -10px;
}

.remove-image-icon {
    top: 0;
    right: 0;
}